<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.1" package="com.dulab.bigindianartsInternal" android:usesCleartextTraffic="true" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="BigIndianArts" android:theme="@style/MainTheme" android:usesCleartextTraffic="true" android:hardwareAccelerated="true" android:icon="@drawable/loogo"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<queries>
		<intent>
			<action android:name="android.intent.action.DIAL" />
			<data android:scheme="tel" />
		</intent>
	</queries>
</manifest>